@font-face {
	font-family: "stmarie";
	src: url("fonts/st-marie/StMarie-Thin.otf");
}

body {
	background-color: #07010B;
	color: white;
}
.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10%;
}

.session-name-label {
	color: cadetblue;
	font-size: 35px;
	font-family: "stmarie", Arial, sans-serif;
}


.create-session-instructions {
	margin-top: 7px;
	width: 270px;
	text-align: center;
	opacity: 0.35;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.timercontainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#mode {
	font-family: "stmarie", fantasy;
	opacity: 0.5;
	font-size: 35px;
}

#timer {
	font-size: 70px;
	margin: 10px 0;
}
#timer:hover {
	color: white;
}

button {
	background-color: #07010B;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 7px;
	margin-top: 10px;
	font-size: 14px;
	opacity: 0.6;
	width: 170px;
	outline: none;
}

button:hover {
	opacity: 1;
}

.change-intervals {
	padding: 10px;
	transition: 0.5s;
	display: none;
	overflow: hidden;
	width: 100%;
	padding-left: 25px;
}

label {
	color: white;
	opacity: 0.65;
	font-family: sans-serif;
	font-size: 15px;
}
input {
	border: 0;
	border-bottom: 2px solid gray;
	outline: none;
	/* border-bottom: 1px solid white; */
	background: transparent;
	color: white;
	/* width: 50px; */
	margin-left: 10px;
	font-size: 15px;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

input:focus {
	border-bottom: 2px solid white;
}


#submit-intervals {
	background-color: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 7px;
	margin-top: 10px;
	font-size: 14px;
	outline: none;
	width: 120px;
}

#footer {
	max-width: 350px;
	font-size: 13px;
	position: absolute;
	text-align: center;
	bottom: 20px;
	opacity: 0.7;
}
